<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록</title>
</head>
<body>
    <th:block th:replace="layout/header :: header"></th:block>
    <div>
        <h2>상품 목록</h2>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>가격</th>
                    <th>지역</th>
                    <th>상태</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="pl : ${productList}">
                <td th:text="${pl.pno}"></td>
                <td><a th:href="@{'/product/productDetail?pno=' + ${pl.pno}}"><span th:text="${pl.title}"></span></a></td>
                <td th:text="${pl.price}"></td>
                <td th:switch="${pl.location}">
                    <span th:case="1">서울</span>
                    <span th:case="2">부산</span>
                    <span th:case="3">대구</span>
                    <span th:case="4">인천</span>
                    <span th:case="5">광주</span>
                    <span th:case="6">대전</span>
                    <span th:case="7">울산</span>
                    <span th:case="8">세종</span>
                    <span th:case="9">경기</span>
                    <span th:case="10">강원</span>
                    <span th:case="11">충북</span>
                    <span th:case="12">충남</span>
                    <span th:case="13">전북</span>
                    <span th:case="14">전남</span>
                    <span th:case="15">경북</span>
                    <span th:case="16">경남</span>
                    <span th:case="17">제주</span>
                </td>
                <td th:switch="${pl.status}">
                    <span th:case="1">판매중</span>
                    <span th:case="2">예약중</span>
                    <span th:case="3">판매완료</span>
                </td>
                <td th:text="${pl.author}"></td>
                <td th:text="${pl.regdate}"></td>
                <td th:text="${pl.visited}"></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{'/product/productInsert'}"><button>글쓰기</button></a>
    </div>
</body>
</html>