<header th:fragment="header">
    <h1>TT / 선생님 중고거래 홈페이지</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">홈</a></li>
            <li th:if="${session.sid != null}"><a th:href="@{'/user/logout'}">로그아웃</a></li>
            <li th:if="${session.sid == null}"><a th:href="@{'/user/login'}">로그인</a></li>
            <li>고객센터</li>
            <a th:href="@{/board/boardList}">자유게시판</a>
            <br>
            <a th:href="@{/faq/faqList}">FAQ</a>
            <br>
            <li><a th:href="@{/product/productList}">상품</a></li>
        </ul>
    </nav>
</header>