<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판 상세보기</title>
</head>
<body>
    <th:block th:replace="layout/header :: header"></th:block>
    <div>
        <h2>자유게시판 상세보기</h2>
        <div class="container">
            <table>
                <tr>
                    <th>번호</th>
                    <td><span th:text="${bd.bno}"></span></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td><span th:text="${bd.author}"></span></td>
                </tr>
                <tr>
                    <th>제목</th>
                    <th><span th:text="${bd.title}"></span></th>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><span th:text="${bd.content}"></span></td>
                </tr>
                <tr>
                    <td colspan="2">
                    <a th:href="@{'/board/boardEdit?bno=' + ${bd.bno}}"><button>수정</button></a>
                    &nbsp;
                    <a th:href="@{'/board/boardDelete?bno=' + ${bd.bno}}"><button>삭제</button></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>