<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>자유게시판 상세보기</title>
</head>
<body>
    <div>
        <div>
            <h2>자유게시판 상세보기</h2>
        </div>
        <div class="container">
                <ul>
                    <li><span th:text="${bd.bno}"></span></li>
                    <li><span th:text="${bd.title}"></span></li>
                    <li><span th:text="${bd.content}"></span></li>
                </ul>
        </div>
    </div>
</body>
</html>