<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판 목록</title>
</head>
<body>
    <th:block th:replace="layout/header :: header"></th:block>
    <div>
        <h2>자유게시판 목록</h2>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bl : ${boardList}">
                    <td th:text="${bl.bno}"></td>
                    <td><a th:href="@{'/board/boardDetail?bno=' + ${bl.bno}}"><span th:text="${bl.title}"></span></a></td>
                    <td th:text="${bl.author}"></td>
                    <td th:text="${bl.regdate}"></td>
                    <td th:text="${bl.visited}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{'/board/boardInsert'}"><button>글쓰기</button></a>
    </div>
</body>
</html>