<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보 상세보기</title>
</head>
<body>
    <th:block th:replace="layout/header :: header"></th:block>
    <div>
        <h2>회원정보 상세보기</h2>
        <div class="container">
            <table>
                <tr>
                    <th>회원번호</th>
                    <td><span th:text="${ud.uno}"></span></td>
                </tr>
                <tr>
                    <th>아이디</th>
                    <td><span th:text="${ud.id}"></span></td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td><span th:text="${ud.pw}"></span></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td><span th:text="${ud.name}"></span></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td><span th:text="${ud.tel}"></span></td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td><span th:text="${ud.email}"></span></td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td><span th:text="${ud.addr1}"></span></td>
                </tr>
                <tr>
                    <th>상세주소</th>
                    <td><span th:text="${ud.addr2}"></span></td>
                </tr>
                <tr>
                    <th>우편번호</th>
                    <td><span th:text="${ud.postcode}"></span></td>
                </tr>
                <tr>
                    <th>등록일</th>
                    <td><span th:text="${ud.regdate}"></span></td>
                </tr>
                <tr>
                    <td colspan="2">
<!--                        <button type="button" onclick="location.href=@{/user/userEdit}">수정</button>-->
<!--                        <button type="button" class="button is-link is-rounded is-outlined" onclick="location.href='${path14}/member/update.do?id=${sid }'">회원 정보 변경</button>-->
<!--                        <a th:href="@{'/board/boardDetail?bno=' + ${bl.bno}}"></a>-->
<!--                        <a th:href="@{'/user/userEdit?=' + ${ud.uno}}">수정</a>-->
                        <a th:href="@{/user/userEdit}">수정</a>
                        &nbsp;
                        <a th:href="@{/user/userDelete}"><button>탈퇴</button></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>