<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TT / 선생님 중고거래</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="@{/}">홈</a></li>
                <li>고객센터</li>
                <a href="@{'/board/boardList'}">자유게시판</a>
                <li></li>
            </ul>
        </nav>
    </header>
    <h1>TT / 선생님 중고거래 홈페이지</h1>
</body>
</html>